@import "./Nav";
@import "./Overview";
@import "./Cards";
@import "./Repositories.scss";
@import "./LongCards.scss";

.component-container {
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #d1d5da;
}
