.long-card {
  flex: 0 1 43%;
  border-top: 1px solid #d1d5da;
  padding: 20px 0px;
  margin-bottom: 20px;

  .long-card-box {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
    }

    .star-button {
      display: flex;

      .star-button-content {
        color: #242930;
        background-color: #eff3f6;
        border: 1px solid rgba(27, 31, 35, 0.2);
        border-radius: 4px;
        width: 5%;
        font-size: 14px;
        display: flex;
        position: absolute;
        right: 10%;
        padding: 7px 10px 5px;
        cursor: pointer;

        path {
          fill: #242930;
        }

        .button-text {
          padding-left: 5px;
        }
      }
    }

    .long-card-title {
      display: flex;
      font-size: 20px;
      margin: 0;
      color: #0366d6;
      font-weight: bold;
    }

    .forked {
      font-size: 12px;
      color: #586069;
    }

    .long-card-description {
      flex: 1;
      padding-top: 10px;
      color: #586069;
      font-weight: 500;
      font-size: 14px;
    }

    .repo-color {
      position: relative;
      top: 1px;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }

    .stats {
      display: flex;
      padding-top: 20px;
      font-size: 12px;
      color: #586069;
      margin-top: auto;

      path {
        fill: #586069 !important;
      }

      .stat {
        width: 7%;

        .long-card-stat-alignment {
          display: flex;
        }
      }
    }
  }
}
