nav {
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 10vh;
  color: #586069;
  padding-left: 5%;
}

.nav-links {
  width: 20%;
  display: flex;
  justify-content: space-around;
  list-style: none;

  a {
    color: #586069;
    text-decoration: none;
  }
}
